//
//== UI.Slider default style
//------------------------------------------------------------------------------

.ui-slider--default {
  $thumb--inner-height: 20px;
  $thumb--inner-width: 10px;
  $thumb--border-size: 1px;
  $thumb--outer-width: $thumb--inner-width + $thumb--border-size;
  $thumb--outer-height: $thumb--inner-height + $thumb--border-size;
  $range--height: 5px;

  height: $thumb--outer-height;
  margin-right: $thumb--outer-width;

  ////

  @at-root {
    %ui-slider--default__range {
      height: $range--height;
      top: floor(($thumb--outer-height - $range--height) / 2);
      right: -$thumb--outer-width;
    }
  }

  ////

  &:after {
    @extend %ui-slider--default__range;
    background: #ddd;
  }

  ui-slider-thumb {
    width: $thumb--outer-width;
    height: $thumb--outer-height;
    background: #ccc;
    border: solid $thumb--border-size #aaa;

    &:hover {
      background: #ddd;
    }
  }

  ui-slider-range {
    @extend %ui-slider--default__range;
    background: #aaa;
  }
}
